@media (min-width: 800px) {
    header nav .container {
        flex-direction: row;
        flex-wrap: nowrap !important;
    }

    header nav .container .navbar-header {
        margin: 0;
    }

    header nav .container .navbar-collapse ul {
        flex-direction: row;
    }
}

@media (max-width: 800px) {
    header nav .container {
        flex-direction: column;
        flex-wrap: nowrap !important;
    }

    header nav .container .navbar-header {
        display: block;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
    }

    header nav .container .navbar-collapse {
        position: absolute;
        width: 100%;
        top: 100%;
        background: rgb(248, 248, 248);
        z-index: 100;
    }
}

@media (max-width: 1500px) {
    .banner-text-wrapper h1 {
        font-size: 7rem;
    }

    .banner-text-wrapper h3 {
        font-size: 4.5rem;
    }

    .banner-text-wrapper p.animated-text {
        font-size: 3rem;
        line-height: 1.5;
    }

    .popup {
        width: 40%;
    }

}

@media (min-width: 1500px) {
    .banner-text-wrapper h1 {
        font-size: 7rem;
    }

    .banner-text-wrapper h3 {
        font-size: 4.5rem;
    }

    .banner-text-wrapper {
        top: 35%;
    }

    .banner-text-wrapper p.animated-text {
        font-size: 2.5rem;
    }


}

@media (max-width: 1500px) {
    .banner-text-wrapper h1 {
        font-size: 6rem;
    }

    .banner-text-wrapper h3 {
        font-size: 4rem;
    }
}

@media (max-width: 1250px) {
    .banner-text-wrapper h1 {
        font-size: 4rem;
    }

    .banner-text-wrapper h3 {
        font-size: 3.5rem;
    }

    .banner-text-wrapper p.animated-text {
        font-size: 2.5rem;
    }

    .banner-text-wrapper {
        top: 20%;
    }

    .popup {
        width: 50%;
    }
}

@media (min-width: 1250px) {
    section#how-we-help .card {
        width: 35rem;
    }

    .testimonial-item {
        padding: 0 80px;
    }
}

@media (max-width: 1050px) {

    .banner-text-wrapper {
        top: 20%;
    }

    .banner-text-wrapper p a.get-start-btn {
        font-size: 1.3rem;
        padding: 6px 15px;
    }

    section#how-we-help .card {
        width: 25rem;
    }

    #home-about .row p {
        padding: 70px 0;
    }
}

@media (max-width: 780px) {
    .banner-text-wrapper h1 {
        font-size: 3rem;
    }

    .banner-text-wrapper h3 {
        font-size: 2rem;
    }

    .banner-text-wrapper p.animated-text {
        font-size: 2rem;
    }

    .banner-text-wrapper {
        top: 20%;
    }

    .banner-text-wrapper p a.get-start-btn {
        font-size: 1rem;
        padding: 3px 10px;
        margin-top: 0;
    }

    .popup {
        width: 80%;
    }

    .digital-markting-cards .card {
        width: 20em;
    }
}

@media (max-width: 450px) {
    .banner-text-wrapper h1 {
        font-size: 2.5rem;
    }

    .banner-text-wrapper h3 {
        font-size: 2rem;
    }

    .banner-text-wrapper {
        top: 15%;
    }

    .banner-text-wrapper p a.get-start-btn {
        font-size: .8rem;
        font-weight: 700;
        padding: 0px 7px;
    }

    .feature-box-04>a {
        border: none;
    }

    .banner-text-wrapper p.animated-text {
        font-size: 1.5rem;
    }

    .popup {
        width: 80%;
    }

    .popup h4 {
        font-size: 1.1em;
    }

    .popup .form .header {
        margin: 10px 0px;
    }

    .popup .form .element input,
    .popup .form .element textarea {
        width: 100%;
        padding: 5px 6px;
        box-sizing: border-box;
        outline: none;
        border: 1px solid #aaa;
        background: #fff;
        border-radius: 5px;
        font-size: 12px;
    }

    .popup .form .element button {
        width: 50%;
        font-size: 12px;
        padding: 5px 0px;
    }

    .digital-markting-cards .card {
        width: 90%;
    }


}

@media (max-width: 380px) {
    .banner-text-wrapper h1 {
        font-size: 2rem;
    }

    .banner-text-wrapper {
        top: 15%;
    }

    .banner-text-wrapper h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 330px) {
    .banner-text-wrapper h1 {
        font-size: 1.5rem;
    }

    .banner-text-wrapper h3 {
        font-size: 1rem;
    }

}